@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons';

@import 'variables';
@import 'nav';
@import 'header';
@import 'footer';

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

:root {
  scroll-behavior: smooth;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}
