@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons';

@import 'variables';
@import 'nav';
@import 'header';
@import 'footer';

body {
  margin: 0;
  padding: 0;
  height: 4000px;
}

// Path: src/assets/_variables.scss
